<th:block th:replace="~{ base :: layout('Our Restaurants', ~{::content}, ~{::link}) }">
    <link rel="stylesheet" th:href="@{/css/styles-restaurant.css}" href="../static/css/styles-restaurant.css" th:fragment="link" />

    <section th:fragment="content">
        <div class="container">
            <h1>Our Restaurants</h1>
            <div class="restaurant-grid">
                <!-- Iterate over restaurants -->
                <div class="restaurant-card" th:each="restaurant : ${restaurants}">
                    <img th:src="@{/img/{image}(image=${restaurant.imageName})}" alt="Restaurant Image" class="restaurant-image">
                    <div class="restaurant-info">
                        <h2 class="restaurant-name" th:text="${restaurant.name}">Restaurant Name</h2>
                        <p th:each="cuisine : ${restaurant.cuisines}" th:text="${cuisine.type}">Cuisine Type</p>
                    </div>
                    <div class="restaurant-rating">
                        <span class="star">★★★★☆</span>
                        <span>4.5 (200+ reviews)</span>
                    </div>

                    <!--                        <div class="restaurant-rating">-->
                    <!--                            <span class="star">★★★★☆</span>-->
                    <!--                            <span th:text="${restaurant.rating} + ' (' + restaurant.reviews + ' reviews)'">Rating</span>-->
                    <!--                        </div>-->
                    <button th:if="${!currentUser.restaurants.contains(restaurant)}"
                            th:onclick="|window.location.href='/restaurants/add?restaurantId=' + ${restaurant.id}|"
                            class="action-button">Add to My List</button>

                </div>
        </div>
    </section>
</th:block>
